.user-info-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  strong {
    margin-right: 5px;
    color: #007bff; 
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
  }
  
  .left-button, .right-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }