<div class="login-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label for="username">Username:</label><br>
        <input formControlName="UserName" type="text" id="username">
        <label for="Nume">Nume:</label><br>
        <input formControlName="Nume" type="text" id="nume" name="nume">
        <label for="Email">Email:</label><br>
        <input formControlName="Email" type="text" id="Email" name="Email">
        <label for="NrTelefon">Nr Telefon:</label><br>
        <input formControlName="NrTelefon" name="NrTelefon" id="NrTelefon" type="text">
        <label for="Oras">Oras:</label><br>
        <input name="Oras" id="Oras" formControlName="Oras" type="text">
        <label for="Adresa">Adresa:</label><br>
        <input name="Adresa" id="Adresa" formControlName="Adresa" type="text">
        <label for="Parola">Parola:</label><br>
        <input name="Parola" id="Parola" formControlName="Parola" type="password" type="password">
        <input type="submit" value="Register">
      </form>
      
</div>
